body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
}

.sidebar {
  background-color: #FF7755;
}

.nav {
  background-color: #00DDFF;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
}

/*-----------solution-----------*/ 

/* .container {
  display: grid;
  grid-template: 100px 100px 500px 100px / 300px 900px 300px;
  gap: 15px;
} 

.sidebar {
  grid-row-start: 2;
  grid-row-end: span 2;
}

.nav{
  grid-column: 2 / span 2;
}

.article {
  grid-column: 2 / span 2;
}

.header{
  grid-column: 1 / 4;
  grid-row: 1;
}

.footer {
  grid-column: 1 / span 3;
} */

/* ----------Area Solution------------*/

/* .container {
  display: grid;
  grid-template: 100px 100px 500px 100px / 300px 900px 300px;
  gap: 15px;
} 

.header{
  grid-area: 1 / 1 / 2 / 4;
}

.sidebar {
grid-area: 2 / 1 / 4 / 2;
}

.nav{
grid-area: 2 / 2 / 3 / 4;
}

.article {
grid-area: 3 / 2 / 4 / 4;
}

.footer {
grid-area: 4 / 1 / 5 / 4;
} */

/* -------OR-------- */

.container {
  display: grid;
  grid-template: 100px 100px 500px 100px / 300px 900px 300px;
  grid-template-areas:
  "header header header header"
  "sidebar nav nav nav"
  "sidebar article article article"
  "footer footer footer footer";
  gap:15px;
} 

.header{
  grid-area: header;
}

.sidebar {
grid-area: sidebar;
}

.nav{
grid-area: nav; 
}

.article {
grid-area: article;
}

.footer {
grid-area: footer;
}